/* CSS Style Sheet */

/* Font face from The Braille Institute (https://brailleinstitute.org/freefont) */
@font-face {
	font-family: "Atkinson";
	font-weight: 400; /* Regular */
	src: url("Atkinson-Web-2020/Web Fonts/EOT/Atkinson-Hyperlegible-Regular-102.eot");
	src: 
		url("Atkinson-Web-2020/Web Fonts/SVG/Atkinson-Hyperlegible-Regular-102.svg") format("svg"),
		url("Atkinson-Web-2020/Web Fonts/TTF/Atkinson-Hyperlegible-Regular-102.ttf") format("ttf"),
		url("Atkinson-Web-2020/Web Fonts/WOFF/Atkinson-Hyperlegible-Regular-102.woff") format("woff"),
		url("Atkinson-Web-2020/Web Fonts/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
}

@font-face {
	font-family: "Atkinson";
	font-weight: 300; /* Light */
	src: url("Atkinson-Web-2020/Web Fonts/EOT/Atkinson-Hyperlegible-Italic-102.eot");
	src: 
		url("Atkinson-Web-2020/Web Fonts/SVG/Atkinson-Hyperlegible-Italic-102.svg") format("svg"),
		url("Atkinson-Web-2020/Web Fonts/TTF/Atkinson-Hyperlegible-Italic-102.ttf") format("ttf"),
		url("Atkinson-Web-2020/Web Fonts/WOFF/Atkinson-Hyperlegible-Italic-102.woff") format("woff"),
		url("Atkinson-Web-2020/Web Fonts/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2");
}

@font-face {
	font-family: "Atkinson";
	font-weight: 700; /* Bold */
	src: url("Atkinson-Web-2020/Web Fonts/EOT/Atkinson-Hyperlegible-Bold-102.eot");
	src: 
		url("Atkinson-Web-2020/Web Fonts/SVG/Atkinson-Hyperlegible-Bold-102.svg") format("svg"),
		url("Atkinson-Web-2020/Web Fonts/TTF/Atkinson-Hyperlegible-Bold-102.ttf") format("ttf"),
		url("Atkinson-Web-2020/Web Fonts/WOFF/Atkinson-Hyperlegible-Bold-102.woff") format("woff"),
		url("Atkinson-Web-2020/Web Fonts/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2");
}

body {
	font-family: 'Atkinson', sans-serif;
	font-size: 1rem;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-weight: 700;
	line-height: 1;
	margin: 0 0 16px;
}

h4 { /* ul title */
	margin: 0;
	font-weight: 400;
	font-size: 0.85rem;
}

p {
	line-height: 1.5;
	margin: 0 0 16px;
	max-width: 60ch;
}

.body-wrapper {
	text-align: left;
	max-width: 800px;
}

.social-container ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.social-container ul li {
	margin: 4px 24px 8px 0;
	display: flex;
}

.social-container ul li a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
}

.social-container ul li a:hover {
	color: #D1CFCF;
}

.social-container ul li a:hover svg {
	fill:#8B8989;
}

.social-container ul li svg {
	margin-right: 4px;
}

.social-container ul li span {
	padding-top: 3px;
}

social-container {
	display: flex;
	position: relative;
	max-width: 100%;
}