/* CSS for the Google Place Component */

.google-container {
	display: flex;
	border-radius: 8px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05);
	overflow: hidden;
}

.google-container hr {
	background-color: var(--grey200);
	width: 100%;
	margin: 8px 0;
	border: 0;
	height: 1px;
}

.google-container section {
	margin: 0;
}

.google-info {
	position: relative;
	text-align: center;
	padding: 16px;
	width: 50%;
	min-height: 100%;
}

.google-info div {
	text-align: left;
}

.business-status {
	position: absolute;
	right: 16px; top: 16px;
	padding: 1px 4px;
	border-radius: 8px;
	font-size: var(--font-xs);
	background-color: #609BEE;
	color: white;
}

.business-rating {
	display: flex;
	margin-bottom: 16px;
	align-items: center;
	font-size: 24px;
	line-height: 1;
}

.google-reviews {
	display: flex;
	flex-direction: column;
}

.google-review {
	display: flex;
	flex-direction: column;
}

.google-reviews-star {
	display: flex;
}

.google-reviews span {
	margin: 1px 0 4px;
	font-size: var(--font-s);
	line-height: 1.2;
	color: #545151;
}

.google-reviews div p {
	margin: 0;
}

.google-info button {
	margin-top: 8px;
	padding: 4px 8px 4px 4px;
	border: 1px solid black;
	border-radius: 8px;
	background-color: white;
	color: black;
}

.google-info button:hover {
	background-color: black;
	color: white;
}

.google-info button a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
}

.google-info svg {
	margin-inline-end: 4px
}

.google-map {
	position: relative;
	width: 50%;
	background-color: chartreuse;
}

.google-map-address {
	z-index: 2000;
	position: absolute;
	top: 8px; right: 8px;
	padding: 8px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05);
}

.google-map-address h3 {
	color: black;
	font-size: 1rem;
}

.google-map-address p {
	margin: 0;
	color: #545151;
	font-size: 12px;
	line-height: 16px;
}

#mapid { 
	height: 100%;
}

.update-date {
	color: #8B8989;
	font-size: 14px;
}

@media screen and (max-width: 600px)
{
	.google-container {
		flex-direction: column;
	}

	.google-container section {
		width: 100%;
	}

	.google-map {
		height: 400px;
	}
}